body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
}

.topnav{
    background-color: white;
    padding: 0px;
}

.book_btn{
    background-color: #E94B44;
    color: white !important;
}

.slider_arrow_left{
    width: 100px;
    height: 100px;
    background-color: #28314E;
    color: white !important;
    border-radius: 100px;
    margin-left: -210px;
    padding-top: 40px;
    padding-left: 36px;
}

.slider_arrow_right{
    width: 100px;
    height: 100px;
    background-color: #28314E;
    border-radius: 100px;
    margin-right: -210px;
    padding-top: 40px;
    padding-right: 36px;
}



@media only screen and (max-width: 768px){
    .slider_arrow_right{
        display: none;
        margin-right: 0px !important;
        background-color: transparent;
        padding: 0px !important;
    }
    .footer_sub_wrapper {
        width: 100%  !important;
    }
    .footer_brand{
        width: 100%  !important;
    }
}

.contrny_img{
    margin-bottom: 10px;
}

.inner_nav .nav-link{
    padding: 20px;
}

.inner_nav li{
    padding-left: 10px;
    padding-right: 10px;
}

.content_section{
    width: 100%;
    margin-bottom: 40px;
}

.line_head{
    color: #28314D;
  font-size: 20px;
  position: relative;
}

.content_wrapper{
    text-align: center;
    padding-top: 60px;
}

.content_wrapper_btn{
    text-align: center;
    padding-top: 20px;
}


.line_head:after {
    content:' ';
    position: absolute;
    top:100%;
    left:50%;
    width: 40px;
    margin-top: 20px;
    border:1px solid #E94B44;
    border-radius:4px;
    transform:translateX(-50%);
    background-color: #E94B44;
  }

.collapse_btn{
    background-color: white;
    border: none;
    padding: 4px;
    cursor: pointer;
    margin-top: 20px;
}

.img_section{
    margin-bottom: 50px;
}

.footer_brand{
    padding-left: 50px;
    background-color: #E84B44;
    padding-right: 50px;
    margin-right: 0px;
}

.footer_brand label{
    color: white;
}

.footer_sub_wrapper{
    background-color: #1E2744;
    color: white;
}

.nav_footer{
    background-color: #1E2744;
    padding: 0px;
}

.footer_sub_inner li a{
    color: white !important;
}

.img_hover{
    transition: .5s ease;
    width: 95%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 10px;
    padding-top: 100px;
    text-align: center;
    background-color: white;
}

.image_content_block:hover .img_hover{
    opacity: .6;
}

.play_btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 140px;
}

.search_nav{
    position: absolute;
    top: 64px;
    left: 0px;
    width: 100%;
    height: 58px;
    background-color: #1E2744;
    z-index: 100;
}

.search_input{
    border: none;
    border-bottom: 2px solid white;
    padding: 10px;
    width: 80%;
    margin-left: 40px;
    color: white;
    background-color: #1E2744;
}

.nav-link-s{
    color: white;
}

.nav_mega{
    position: absolute;
    top: 64px;
    left: 0px;
    width: 100%;
    min-height: 200px;
    background-color: white;
    opacity: .9;
    z-index: 100;
}

.mega_link{
    margin-top: 20px;
}

.exp_test:hover .nav_mega{
    display: block;
}